@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



$colors: (
  primary:    #57B73F,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
