.btn{
    background-color: #2ECB71;
    color:white;   
}

p{
    color:#2ECB71;
}

.p{
    color:#2ECB71;
}

.dot1 {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-left:-10px;
    border: 2px solid white;
  }
  .dot2 {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left:-10px;
    border: 2px solid white;
  }
  .dot3 {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left:-10px;
    border: 2px solid white;
  }